{% extends 'base1.html' %}

{% block title %}
    <title>Deconectare</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
        <p>Ati fost deconectat!</p>
        <a href="{% url 'login' %}">Apasa aici pentru a te conecta!</a>
        </div>
    </div>
</div>

{% endblock %}