{% extends 'base1.html' %}

{% block title %}
    <title>Conectare</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="signup-form">
                  <h2>Conectare</h2>
                    <form method="post" class="form-group">
                        {% csrf_token %}
                        {% for field in form %}
                              <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                  <small style="color: #808080">{{ field.help_text }}</small>
                                {% endif %}
                        {% endfor %}
                         <button type="submit" class="btn btn-default">Conectare</button>
                    </form>
                                <p> Ai uitat parola?</p>
                                <a href="{% url 'password_reset' %}">Reseteaza parola apasand aici!</a>
{#                    <input type="submit" class="btn btn-default btn-lg" value="Reseteaza parola">#}
{#                    <button type="submit" class="btn btn-default"> Resetare parola!</button>#}
            </div>
        </div>
    </div>
</div>

{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">

        </div>
    </div>
</div>