{% extends 'base.html' %}

{% block content %}
            <div class="col-lg-offset-4">
            <h2 class="title text-center">Reseteaza parola</h2>
                {% if validlink %}
                    <p>Introdu noua parola!</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>{{ form.new_password1.errors }}
                                    <label for="id_new_password1">Parola noua:</label></td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.new_password2.errors }}
                                    <label for="id_new_password2">Confirma parola:</label></td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Change my password"/></td>
                            </tr>
                        </table>
                    </form>
                {% else %}
                    <h1>Resetarea parolei nu a reusit</h1>
                    <p>Link-ul de reset al parolei este invalid sau a fost folosit. Te rugam sa incerci o noua resetare a parolei.</p>
                {% endif %}
            </div>
{% endblock %}