{% extends 'base.html' %}

{% block content %}
            <div class="col-lg-offset-4">
                <form action="" method="post">
                    <p> Introdu adresa de email pentru a reseta parola! </p>
                    {% csrf_token %}
                    {% if form.email.errors %}
                        {{ form.email.error }}
                    {% endif %}
                    <p>{{ form.email }}</p>
                    <button type="submit" class="btn btn-default ">Reseteaza parola!</button>
{#                    <input type="submit" class="btn btn-default btn-lg" value="Reseteaza parola!">#}
                </form>
            </div>
{% endblock %}