{% extends 'base.html' %}

{% block content %}
            <div class="col-lg-offset-4">
                <p>Un mail cu instructiuni de resetare al parolei a fost trimis pe adresa ta de email.</p>
            </div>
{% endblock %}