{% extends 'base.html' %}

{% block content %}
            <div class="col-lg-offset-4">
                <h2 class="title text-center">Parola a fost schimbata cu succes!</h2>
                <p><a href="{% url 'login' %}">Conectare</a></p>
            </div>
{% endblock %}



