<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Error 404!!!</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/responsive.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center">
            <div class="col-lg-12">
                <div class="content-404">
                    <img src="/static/logo/404.png" class="img-responsive" alt="" />
                    <h1><b>OPPS!</b> Pagina accesata nu exista!</h1>
                    <p>Se pare ca pagina accesata nu este inca disponibila, te rugam sa incerci mai tarziu.</p>
                    <h2><a href="{% url 'home' %}">Revino la pagina principala. Click aici!</a></h2>
                </div>
            </div>
    </div>
</body>
</html>


