{% extends 'base.html' %}

{% block title %}
    <title>Adauga comentariu</title>
{% endblock %}

{% block content %}

            <div class="col-lg-9">
                <h2 class="title text-center">Comentariu nou</h2>
                    <form method="POST" class="post-form">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="save btn btn-default">Posteaza</button>
                    </form>
            </div>

{% endblock %}