<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}

    {% endblock %}

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/responsive.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
	<header id="header">
		<div class="header_top">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-middle">
			<div class="container">
				<div class="row">
					<div class="col-md-4 clearfix">
						<div class="logo pull-left">
							<a href="{% url 'carte' %}"><img src="/static/logo/logo.png" alt="" /></a>
						</div>
					</div>

					<div class="col-md-8 clearfix">
						<div class="shop-menu clearfix pull-right">
							<ul class="nav navbar-nav">
								<li><a href="{% url 'signup' %}"><i class="fa fa-user"></i>Cont nou</a></li>
								<li><a href="{% url 'favorite' %}"><i class="fa fa-star"></i> Favorite</a></li>
								<li><a href=""><i class="fa fa-shopping-cart"></i> Cos de cumparaturi</a></li>
                                <li>
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'logout' %}"><i class="fa fa-lock"> {{ user.get_username }}  </i></a>
                                {% else %}
                                        <a href="{% url 'login' %}"><i class="fa fa-lock"></i> Conectare</a>
                                {% endif %}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'produse' %}">Books</a></li>
                                <li><a href="{% url 'promotii' %}">Discounts</a></li>
								<li><a href="{% url 'error404' %}">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div>
    </header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Categorii</h2>
                    <div class="panel-group category-products" id="accordian">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="{% url 'fictiune' %}">Fiction</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="{% url 'stiinte_umaniste' %}">Humanities</a></h4>
                            </div>
                        </div>
                    </div>

                    <div class="left-sidebar">
                        <h2>Editura</h2>
                        <div class="panel-group category-products" id="accordian">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="{% url 'editura_rao' %}">Rao</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="{% url 'editura_humanitas' %}">Humanitas</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="{% url 'editura_nemira' %}">Nemira</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="{% url 'editura_paladin' %}">Paladin</a></h4>
                                </div>
                            </div>
                        </div>

                        <div class="shipping text-center">
                            <img src="/static/logo/shipping.png" alt=""/>
                        </div>

                    </div>
                </div>
            </div>

{% block content %}

{% endblock %}
        </div>
    </div>
</section>
</body>
