{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<head>
    <meta charset="UTF-8">

    <nav class="navbar">
        <a class="nav-item nav-link active" href="{% url 'home' %}">Home</a>
                {% if user.is_authenticated %}
            <a class="nav-item nav-link active" href="{% url 'logout' %}">{{ user.get_username }}</a>
        {% else %}
            <a class="nav-item nav-link active" href="{% url 'login' %}">Conectare </a>
        {% endif %}
    </nav>

    <nav class="navbar">
        <a class="nav-item nav-link active" href="{% url 'carte' %}">Carti</a>
        <a class="nav-item nav-link active" href="{% url 'adauga_carte' %}">Adauga carte</a>
            {% if user.is_authenticated %}
            <a class="nav-item nav-link active" href="{% url 'logout' %}">Deconectare</a>
        {% else %}
            <a class="nav-item nav-link active" href=""></a>
        {% endif %}
    </nav>

    <nav class="navbar">
        <a class="nav-item nav-link active" href="{% url 'categorie' %}">Categorie</a>
        <a class="nav-item nav-link active" href="{% url 'adauga_categorie' %}">Adauga categorie</a>
        <a class="nav-item nav-link active" href=""></a>
    </nav>

    <nav class="navbar">
        <a class="nav-item nav-link active" href="{% url 'editura' %}">Edituri</a>
        <a class="nav-item nav-link active" href="{% url 'adauga_editura' %}">Adauga editura</a>
        <a class="nav-item nav-link active" href=""></a>
    </nav>

    <nav class="navbar">
        <a class="nav-item nav-link active" href="{% url 'promotie' %}">Promotii</a>
        <a class="nav-item nav-link active" href="{% url 'adauga_promotie' %}">Adauga promotie</a>
        <a class="nav-item nav-link active" href=""></a>
    </nav>

    {% block title %}

    {% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
          integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
          integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>

{% block content %}

{% endblock %}

</body>
</html>