{% extends 'base_admin.html' %}

{% block content %}
    <form action="" method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <p> Esti sigur ca vrei sa stergi "{{ carte.titlu }}"? </p>
            <input type="submit" value="Delete" class="btn btn-primary"/>
        </div>
    </form>
{% endblock %}
