{%  extends 'base_admin.html' %}

{% block title %}
    <title>Carti</title>
{% endblock %}

{% block content %}
        <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Titlu</th>
            <th>Autor</th>
            <th>Pret</th>
            <th>Descriere</th>
            <th>Editura</th>
            <th>Categorie</th>
            <th>Anul aparitiei</th>
            <th>Numar de pagini</th>
            <th>Cantitate</th>
            <th>Disponibilitate</th>
        </tr>
        </thead>
        <tbody>
        {% for c in carte %}
            <tr>
                <td>{{ c.id }}</td>
                <td><img src="{{ c.imagine_url|default_if_none:'#' }}" alt="" width="90" height="143"><a href="{% url 'detalii_carte' id=c.id %}">{{ c.titlu }}</a></td>
                <td>{{ c.autor }}</td>
                <td>{{ c.pret }}</td>
                <td>{{ c.descriere }}</td>
                <td>{{ c.editura }}</td>
                <td>{{ c.categorie }}</td>
                <td>{{ c.anul_aparitiei }}</td>
                <td>{{ c.nr_pagini }}</td>
                <td>{{ c.cantitate }}</td>
                <td>{{ c.disponibilitate }}</td>
                <td><a href="{% url 'editeaza_carte' id=c.id %}"><i class="far fa-edit"></i></a><a href="{% url 'sterge_carte' id=c.id %}"><i class="far fa-trash-alt"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% for post in carti %}
        <div class="post">
{#            <div class="date">#}
{#                {{ post.published_date }}#}
{#            </div>#}
            <h1><a href="{% url 'carte_detail_view' pk=post.pk %}">{{ post.titlu }}</a></h1>
            <p>{{ post.continut|linebreaksbr }}</p>
            <a href="{% url 'carte_detail_view' pk=post.pk %}">Comentarii: {{ post.aprobare_comentariu.count }}</a>
        </div>
    {% endfor %}
{% endblock %}

