{% extends 'base.html' %}

{% block title %}
    <title>Detalii Carte</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-offset-4">
        <h2 class="title text-center">Descriere produs</h2>
            <h2>Descriere</h2>
                <p>{{ carte.descriere }}</p>
                <p><img src="{{ carte.imagine_url|default_if_none:'#' }}" alt=""></p>
            <h2>Detalii</h2>
                <p>Titlu carte: {{ carte.titlu }}</p>
                <p>Autor: {{ carte.autor }}</p>
                <p>Editura: {{ carte.editura }}</p>
                <p>Anul aparitiei: {{ carte.anul_aparitiei }}</p>
                <p>Numar de pagini: {{ carte.nr_pagini }}</p>
                <p>In stoc?: {{ carte.disponibilitate }}</p>
            <h2> Comentarii</h2>
    {% for comment in carte.comentarii.all %}
        {% if user.is_authenticated or comment.aprobare_comentariu %}
        <div class="comment">
            <div class="date">
                {{ comment.data_creare }}
                {% if not comment.aprobare_comentariu %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            </div>
            <strong>{{ comment.autor }}</strong>
            <p>{{ comment.continut|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p>Momentan nu sunt comentarii :(</p>
    {% endfor %}
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=carte.pk %}">Adauga comentariu</a>
        </div>
    </div>
</div>

{% endblock %}

