{% extends 'base_admin.html' %}

{% block title %}
    <title>Categorii</title>
{% endblock %}

{% block content %}
        <table class="table table-striped">
        <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Categorie</th>

                </tr>
        </thead>
        <tbody>
 {% for c in categorie %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nume }}</td>
                <td><a href="{% url 'editeaza_categorie' id=c.id %}"><i class="far fa-edit"></i></a><a href="{% url 'sterge_categorie' id=c.id %}"><i class="far fa-trash-alt"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
