{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{##}
{#    {% for c in categorie %}#}
{#    <h1> {{categorie}} </h1>#}
{##}
{#    {% for carte in category.get_products %}#}
{#        <p> {{carte}} </p>#}
{#    {% endfor %}#}
{##}
{#    {% endfor %}#}
{##}
{#{% endblock %}#}


{% extends 'base.html' %}

    {% block content %}
    {% for category in categorie %}
        <h1>{{ category }}</h1>
        {% for product in category.query_Set.none %}
            <p>{{ product }}</p>
        {% endfor %}
    {% endfor %}
    {% endblock %}