{% extends 'base_admin.html' %}

{% block title %}
    <title>Editare categorie</title>
{% endblock %}

{% block content %}
    <form action="" method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update category" class="btn btn-primary"/>
        </div>
    </form>
{% endblock %}