{% extends 'base_admin.html' %}

{% block title %}
    <title>Edituri</title>
{% endblock %}

{% block content %}
        <table class="table table-striped">
        <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Editura</th>

                </tr>
        </thead>
        <tbody>
 {% for e in editura %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.nume }}</td>
                <td><a href="{% url 'editeaza_editura' id=e.id %}"><i class="far fa-edit"></i></a><a href="{% url 'sterge_editura' id=e.id %}"><i class="far fa-trash-alt"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}