{% extends 'base.html' %}

{% block title %}
    <title>Editura Nemira</title>
{% endblock %}

{% block content %}

            <div class="col-lg-9">
                <h2 class="title text-center">Editura Nemira</h2>
                {% for c in editura_nemira %}
                    {% if c.editura_id == 3 %}
                    <div class="col-sm-4">

                            <a href="{% url 'detalii_carte' id=c.id %}"><img src="{{ c.imagine_url|default_if_none:'#' }}" alt="" width="150" height="200"></a>
                            <h2><a href="{% url 'detalii_carte' id=c.id %}"><button class="btn btn-default">{{ c.titlu }}</button></a></h2>
                            <h2>{{ c.pret }}</h2>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Adauga in cos</a>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-star"></i>Adauga la favorite</a>

                        </div>
                    {% endif %}
                {% endfor %}
            </div>

{% endblock %}