{% extends 'base.html' %}

{% block title %}
    <title>Produse favorite</title>
{% endblock %}

{% block content %}

            <div class="col-lg-offset-4">
                <h2 class="title text-center">Produse favorite</h2>
                    {% if iteme %}
                        <table  class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <td></td>
                                    <td>Titlu</td>
                                    <td>Autor</td>
                                    <td>Pret</td>
                                    <td>Descriere</td>
                                    <td>Cantitate</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody class="table table-dark">
                                {% for item in iteme %}
                                    <tr>
                                        <td><a href="{% url 'detalii_carte' id=item.id %}"><img src="{{ item.imagine_url|default_if_none:'#' }}" alt="" width="90" height="143"></a></td>
                                        <td>{{ item.titlu }}</td>
                                        <td>{{ item.autor }}</td>
                                        <td>{{ item.pret }} RON</td>
                                        <td>{{ item.descriere }}</td>
                                        <td>{{ item.cantitate }}</td>
                                        <td><a type="button" class="btn btn-default" href="{% url 'favorite_prod' item.id %}">Elimina produsul</a></td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                            {% else %}
                                <p class="text-warning">Nu ai adaugat nici un produs la favorite.</p>
                    {% endif %}
            </div>

{% endblock %}

