{% extends 'base.html' %}

{% block title %}
    <title>Pagina principala</title>
{% endblock %}

{% block content %}

            <div class="col-lg-offset-4">
                <h2 class="title text-center">Few words</h2>
                <p class="text-center">
                    Hello! <br>

                        This is my first project. It was a challenging experience but also one from which I had a lot
                        to learn. I encountered countless problems but which I was able to solve and which created a
                        pleasant state of fulfillment for me.<br>

                        I applied what I learned during the course, but this experience also taught me many new things.<br>

                        I am proud of what I managed to do.<br>

                    Thanks!
                </p>

            </div>

{% endblock %}