{% extends 'base.html' %}

{% block title %}
    <title>Carti</title>
{% endblock %}

{% block content %}

            <div class="col-lg-offset-4">
                <h2 class="title text-center">Carti</h2>
                {% for p in produs %}
                    <div class="col-sm-4">

                        <a href="{% url 'detalii_carte' id=p.id %}"><img src="{{ p.imagine_url|default_if_none:'#' }}" alt="" width="150" height="200"></a>
                            <h2><a href="{% url 'detalii_carte' id=p.id %}"><button class="btn btn-default">{{ p.titlu }}</button></a></h2>
                            <h3>{{ p.pret }} RON</h3>
{#                            <p><a href="{% url 'detalii_carte' id=p.id %}">Detalii</a></p>#}
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Adauga in cos</a>
                            <a href="{% url 'favorite_prod' p.id %}" class="btn btn-default add-to-cart"><i class="fa fa-star"></i>Adauga la favorite</a>

                    </div>
                {% endfor %}
            </div>

{% endblock %}
