{% extends 'base_admin.html' %}

{% block title %}
    <title>Editeaza promotia</title>
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update" class="btn btn-primary"/>
        </div>
    </form>
{% endblock %}