{% extends 'base_admin.html' %}

{% block title %}
    <title>Promotii</title>
{% endblock %}

{% block content %}
        <table class="table table-striped">
        <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nume</th>
                    <th>Categorie</th>
                    <th>Descriere</th>
                    <th>Pret initial</th>
                    <th>Pret redus</th>
                    <th>Reducere</th>
                    <th>Disponibilitate</th>
                    <th>Cantitate</th>
                </tr>
        </thead>
        <tbody>
 {% for p in promotie %}
            <tr>
                <td>{{ p.id }}</td>
                <td><img src="{{ p.imagine_url|default_if_none:'#' }}" alt="" width="143" height="80"><a href="{% url 'detalii_promotie' id=p.id %}">{{ p.nume }}</a></td>
                <td>{{ p.categorie }}</td>
                <td>{{ p.descriere }}</td>
                <td>{{ p.pret_initial }}</td>
                <td>{{ p.pret_redus }}</td>
                <td>{{ p.reducere }}</td>
                <td>{{ p.disponibilitate }}</td>
                <td>{{ p.cantitate }}</td>
                <td><a href="{% url 'editeaza_promotie' id=p.id %}"><i class="far fa-edit"></i></a><a href="{% url 'sterge_promotie' id=p.id %}"><i class="far fa-trash-alt"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}