{% extends 'base.html' %}

{% block title %}
    <title>Discounts</title>
{% endblock %}

{% block content %}

            <div class="col-lg-9">
                <h2 class="title text-center">Discounts</h2>
                {% for p in promotie %}
                    <div class="col-sm-4">

                            <a href="{% url 'detalii_promotie' id=p.id %}"><img src="{{ p.imagine_url|default_if_none:'#' }}" alt="" width="243" height="160"></a>
                            <h2><a href="{% url 'detalii_promotie' id=p.id %}"><button class="btn btn-default">{{ p.nume }}</button></a></h2>
{#                            <h2>{{ p.pret_initial }} RON</h2>#}
                            <h3>{{ p.pret_redus }} RON</h3>
{#                            <p><a href="{% url 'detalii_promotie' id=p.id %}">Detalii</a></p>#}

                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Adauga in cos</a>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-star"></i>Adauga la favorite</a>

                    </div>
                {% endfor %}
            </div>

{% endblock %}
