{% extends 'base.html' %}

{% block title %}
    <title>Detalii Promotii</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
<h2>Descriere</h2>
            <p>{{ promotie.descriere }}</p>
            <p><img src="{{ promotie.imagine_url|default_if_none:'#' }}" alt="" width="804" height="400"></p>
            <h2>Detalii</h2>
            <p>Nume promotie: {{ promotie.nume }}</p>
            <p>Categorie: {{ promotie.categorie }}</p>
            <p>Pret initial: {{ promotie.pret_initial }}</p>
            <p>Pret redus: {{ promotie.pret_redus }}</p>
            <p>Reducere: {{ promotie.reducere }}</p>
            <p>Disponibilitate: {{ promotie.disponibilitate }}</p>
            <p>Cantitate: {{ promotie.cantitate }}</p>
        <h2> Comentarii</h2>
{#{% for comment in promotie.comentarii.all %}#}
{#    {% if user.is_authenticated or comment.aprobare_comentariu %}#}
{#    <div class="comment">#}
{#        <div class="date">#}
{#            {{ comment.data_creare }}#}
{#            {% if not comment.aprobare_comentariu %}#}
{#                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>#}
{#                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>#}
{#            {% endif %}#}
{#        </div>#}
{#        <strong>{{ comment.autor }}</strong>#}
{#        <p>{{ comment.continut|linebreaks }}</p>#}
{#    </div>#}
{#    {% endif %}#}
{#{% empty %}#}
{#    <p>Momentan nu sunt comentarii :(</p>#}
{#{% endfor %}#}
{#    <a class="btn btn-default" href="{% url 'add_comment_to_promotie' pk=promotie.pk %}">Adauga comentariu</a>#}
        </div>
    </div>
</div>

{% endblock %}