{% extends 'base1.html' %}

{% block title %}
    <title>Creare cont</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="signup-form">
                  <h2>Creare cont</h2>
                    <form method="post" class="form-group">
                        {% csrf_token %}
                        {% for field in form %}
                              <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                  <small style="color: #808080">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: #ff0000">{{ error }}</p>
                                {% endfor %}
                        {% endfor %}
                         <button type="submit" class="btn btn-default">Inregistrare</button>
                    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
